COMPOSE_PROJECT_NAME=プロジェクト名（英数-_）

PHP_VERSION=PHPのバージョン（5.5|5.6|7.0|7.1|7.2|7.3|7.4|8.0|8.1|8.2|8.3|8.4|8.5）
DB_ENGINE=DBの種類（mysql|mariadb）
DB_VERSION=DBのバージョン（mysqlの場合: 5.7|8.0|8.4 / mariadbの場合: 10.6|10.11|11.4）
APP_DIR=./src